<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Albums Challenge</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
</head>
<body class="loading">
<header class="header">
  <form id="searchform">
    <input type="search" placeholder="Search..." name="query"/>
    <button type="submit">Search</button>
  </form>
</header>
<div class="main">
  <aside class="sidebar" id="sidebar">
  </aside>
  <main class="content" id="content">
  </main>
</div>

<div class="loader">
  Loading...
</div>

<script type="module" src="{{ url_for('static', path='/js/main.js') }}"></script>
</body>
</html>
